/* responsive css */
@media only screen and (max-width: 767px) {
  .featured-tab-area .tabs {
    margin: 20px 0 0;
    float: none;
    text-align: left;
  }
  .featured-tab-area .tabs li:last-child {
    margin-right: 5px;
  }
  .featured-tab-area .tabs li a {
    font-size: 14px;
    padding: 12px 16px 9px;
  }
  .featured-item .content {
    padding: 20px 10px;
  }
  .featured-item .content h3 {
    font-size: 19px;
  }
  .featured-item .content .content-in span {
    font-size: 14px;
  }
  .featured-item .content .content-in h4 {
    font-size: 14px;
  }
  .featured-item .content .featured-content-list {
    padding: 12px 0 0;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .featured-item .content {
    padding: 20px 15px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .featured-tab-area .tabs li a {
    font-size: 14px;
    padding: 12px 16px 9px;
  }
  .featured-item .featured-item-img .featured-user {
    top: 20px;
  }
  .featured-item .featured-item-img .featured-user .featured-user-option img {
    margin-right: 7px;
    width: 25px !important;
    height: 25px !important;
  }
  .featured-item .featured-item-img .featured-user .featured-user-option span {
    font-size: 13px;
    padding-top: 2px;
  }
  .featured-item .featured-item-img .featured-item-clock {
    font-size: 18px;
  }
  .featured-item .content {
    padding: 20px 10px;
  }
  .featured-item .content h3 {
    font-size: 19px;
  }
  .featured-item .content .content-in span {
    font-size: 14px;
  }
  .featured-item .content .content-in h4 {
    font-size: 14px;
  }
  .featured-item .content .featured-content-list {
    padding: 12px 0 0;
  }
  .featured-item .content .featured-content-list p {
    font-size: 14px;
  }
  .featured-item .content .featured-content-list p i {
    font-size: 16px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .featured-tab-area .tabs li {
    margin-right: 5px;
  }
  .featured-tab-area .tabs li a {
    font-size: 14px;
    padding: 12px 16px 9px;
  }
  .featured-item .content h3 {
    font-size: 16px;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1299px) {
  .featured-tab-area .tabs li a {
    font-size: 14px;
    padding: 12px 16px 9px;
  }
  .featured-item .content {
    padding: 20px 20px;
  }
  .featured-item .content .content-in {
    padding: 10px 5px 8px;
  }
  .featured-item .content h3 {
    font-size: 18px;
  }
}
